body{
width: 1920px;    
background: #FFFFFF;
font-family: 'Montserrat', sans-serif;
color: #0C122D;
}
.fone{
    width: 1920px;
    height: 1050px;
    background: #F7FDFB;
}
.conteiner{
    width: 1140px;
    margin-left: 360px;
    margin-right: 389px;
}
.header{
    width: 1140px;
    background: #F7FDFB;
}
.header-item{
    display: flex;
    padding-top: 24px;
}
.logo{
    width: 161px;
    height: 40px;
    background: #C4C4C4;
}
.header-title{
    display: flex;
    list-style: none;
    width: 46px;
    height: 30px;
    margin-left: 368px;
    z-index: 99999;
}
.header-nav{
    padding-right: 45px;
}
.header-nav a{
    text-decoration: none;
    color: #0C122D;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
.header-nav:active{
    display: block;
    width: 74px;
    height: 30px;
    background: #1B5FC1;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    padding: 9px 24px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
}
.section1{
    position: relative;
    bottom: 0;
}
.section1-title{
    position: absolute;
    top: 304px;
    display: block;
    width: 555px;
    height: 430px;
}
.section1-N95{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #FFB800;
}
.section1-h1{
    display: flex;
    width: 432px;
    height: 134px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 82px;
}
.section1-p{
    width: 500px;
    height: 96px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
}
.section1-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.section1-button_b{
    padding: 8px 24px;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 20px;
    border: 1px solid #FFB800;
    border-radius: 8px;
    color: #FFB800;
}
.section1-button_b:active{
    background: #1B5FC1;
    box-shadow: 0px 10px 15px rgba(27, 95, 193, 0.19);
    color: #FFFFFF;
}
.section1-fon{
    position: absolute;
    left: 630px;
    top: 0px;
    background: url(./image/img.png) no-repeat;
    width: 927px;
    height: 891px;
    border-radius: 0px 0px 0px 150px;
}
.section1-img{
    width: 496px;
    height: 744px;
    padding-left: 40px;
    padding-top: 147px;
    border-radius: 16px 16px 16px 0px;
}
.section2{
    background: #F7FDFB;
    height: 300px;
}
.section2-advantage{
    width: 1141px;
    height: 179px;
    display: flex;
}
.section2-advantage_title{
    padding-right: 31px;
}
.advantage-img{
    width: 40px;
    height: 40px;
    float: left;
    padding-right: 20px;
}
.section2-advantage_h5{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.section2-advantage_p{
    padding-left: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #575C74;
}
.section3-item{
    width: 1140px;
    height: 616px;
}
.section3-img{
    float: left;
    padding-right: 47px;
}
.section3-h3{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
}
.section3-p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #575C74;
}
.section-svg1{
    position: absolute;
    top: 1150px;
    z-index: -20;
}
.section-svg2{
    position: absolute;
    top: 2200px;
    left: 1000px;
    z-index: -20;

}
.section4-item{
    width: 1140px;
    height: 620px;
    margin-top: 48px;
}
.section4-img{
    float: right;
    padding-left: 47px;
}
.section4-h3{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
}
.section4-p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #575C74;
}
.section5{
    position: relative;
    margin-top: 80px;
}
.section5-carts{
    width: 1140px;
    height: 616px;
    text-align: center;
}
.section5-img{
    width: 570px;
    height: 616px;
}
.section5-cart1{
    list-style: none;
    background: #1B5FC1;
    position: absolute;
    width: 285px;
    height: 332px;
    left: 285px;
    top: 284px;
}
.section5-p{
    width: 225px;
    height: 192px;
    margin: 0;
    padding: 60px 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}
.section5-cart2{
    list-style: none;
    position: absolute;
    text-align: center;
    width: 227px;
    height: 280px;
    left: 570px;
    top: -30px;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    padding-top: 80px; 
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}
.section5-p2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #575C74;
    text-align: center;
    margin-right: 0;
}
.section5-cart3{
    list-style: none;
    position: absolute;
    width: 224px;
    height: 280px;
    left: 857px;
    top: -30px;
    right: 0;
    bottom: 0;
    background: #1B5FC1;
    border-radius: 0px 20px 0px 0px;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}
.section5-p3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}
.section5-cart4{
    position: absolute;
    width: 572px;
    height: 286px;
    left: 570px;
    top: 330px;
    background: #FFB800;
    border-radius: 0px 0px 20px 0px;
}
.section5-h4{
    position: absolute;
    top: 45px;
    left: 38px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    margin: 0;
}
.section5-p4{
    position: absolute;
    left: 38px;
    top: 80px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    padding-top: 10px;
}
.section5-p1{
    position: absolute;
    left: 23px;
    top: 110px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    list-style: none;

}
.section5-button{
    position: absolute;
    width: 125px;
    height: 46px;
    left: 38px;
    top: 186px;
    border: 1px solid #1B5FC1;
    border-radius: 8px;
    color: #1B5FC1;
    background: #FFB800;
    cursor: pointer;
}
.section5-vl{
    position: absolute;
    width: 1px;
    height: 46px;
    left: 203px;
    top: 186px;
    background: #FFFFFF;
}
.section5-img2{
    position: absolute;
    width: 46px;
    height: 46px;
    left: 244px;
    top: 186px;
}
.section5-contact{
    position: absolute;
    width: 72px;
    height: 24px;
    left: 305px;
    top: 170px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #1B5FC1;
}
.section5-tel{
    position: absolute;
    width: 189px;
    height: 28px;
    left: 300px;
    top: 207px;    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    list-style: none;
}